body{
  background-color: beige;
  margin-left: 2%;
  margin-right: 20%;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid black;
}
nav p a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
nav p{
  margin-top: 15%;
  margin-right: 1%;
}
nav{
  border-right: solid black;
}
h1{
  font-size: 28px;
}
.Paragraf{
  margin-bottom: 20px;
}
article a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
li{
  list-style: none;
  margin-left: -32px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 16px;
}
.footer{
  color: rgb(52, 50, 52);
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
@media (max-width:1200px) {
  h1{
    margin-left: 10px;
    font-size: 24px;
  }
}
@media (max-width:900px) {
  h1{
    margin-left: 15px;
    font-size: 21px;
  }
}
@media (max-width:600px) {
  h1{
    margin-left: 20px;
    font-size: 20px;
  }
}
