body{
  background-image:url(../Bilder/Command_and_conquer.jpg);
  background-position: 100%;
  background-attachment: fixed;
}
table{
  border-collapse:collapse;
  margin-left: auto;
  margin-right: auto;
}
table.striped>tbody>tr:nth-child(odd){
  background-color: springgreen;
  border-collapse:collapse;
  margin-left: auto;
  margin-right: auto;
}
thead>tr{
  background-color: beige;
}
tbody>tr{
  background-color: gold;
}
th{
  text-align: left;
  padding: 7px 13px;
  border: solid olive;
  border-bottom: solid darkolivegreen;
  font-size: 16px;
  font-family:"Adamina";
}
td{
  padding: 7px 14px;
  border: solid olive;
  font-size: 18px;
  font-family: "Georgia", Georgia, serif;
}
tbody>tr:active{
  background-color:white;
}
h1{
  background-color: Azure;
  margin-right: 65%;
}
h1~p{
  background-color:Bisque;
}
p:active{
  color:red;
}
li{
  border-collapse:collapse;
  background-color: BlueViolet;
  border: solid Bisque;
}
ul{
  margin-right: 40%;
  margin-left: 40%;
}
li{
  font-size: 20px;
}
p{
  margin-right: 85%;
  text-align:center;
}
p:active{
  color:red;
}
input{
  margin: 5px;
}
form{
  display: grid;
  grid-template-columns: 0.13fr 0.13fr;
}

video{
  height: 1080px;
  width: 920px;
}
.Krakenmann{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
