h1{
  text-align: center;
  color:white;
  background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  border: solid beige;
  font-style: normal;
  font-size: 38px;
  font-family: sans-serif;
  border-radius: 20px;
}
h1::selection{
  color:darkorange;
  background-color: pink;
}
a{
  color:white;
  text-decoration: none;
  font-size:18px;
  padding-left: 25px;
}
a:hover{
  color:red;
}
a:active{
  color:beige;
}
a::selection{
  color:darkorange;
  background-color: pink;
}
.stjerne{
  height:150px;
  width: 150px;
  padding-left:10px;
  filter:sepia(40%) opacity(50%);
}
.stjerne:active{
  filter:none;
}
img.planet{
  height:150px;
  width: 150px;
  padding-left:10px;
  filter: drop-shadow(-8px -5px 10px black) sepia(40%) opacity(50%);
}
img.planet:active{
  filter: drop-shadow(-8px -5px 10px black);
}
b{
  font-size:30px;
  padding-left: 25px;
}
b::selection{
  color:darkorange;
  background-color: pink;
}
body{
  background-image:url("../Bilder/Stellaris.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  color:white;
}
div::selection{
  color:darkorange;
  background-color: pink;
}
div{
  background-color: black;
  border: solid white;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  padding:5px;
}
article{
  font-family: Arial, Helvetica, sans-serif
}
#revolutionparrot{
  height:20px;
  width:20px;
}
#scienceparrot{
  height: 40px;
  width: 40px;
}
