html{
  font-size: 100%;
}
body{
  background-image:
    linear-gradient(
      darkblue, lightblue
    );
}
main{
  margin-left: 16rem;
  margin-right: 16rem;
  background-color: white;
}
nav{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid black;
  margin-top: -4px;
}
nav a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 1rem;
  background-color: beige;
  transition: 0.5s;
  font-family: 'Roboto Slab', serif;
}
nav a:hover{
  background-color: white;
}
.webBanner{
  width:100%;
}
.description{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  margin-bottom: -10rem;
  font-size: 24px;
  background-color: beige;
  font-family: 'Roboto Slab', serif;
  padding-left: 16rem;
  padding-right: 16rem;
}
.productSection img{
  width: 100%;
  border: 1px solid black;
  background-color: beige;
}
.display{
  transform: scale(0.8);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -4rem;
}
.productSection{
  padding: 2rem;
  overflow: hidden;
}
.productSection h1{
  font-size: 32px;
}
.strikeThrough{
  text-decoration: line-through;
  font-size: 18px;
}
.nyPris{
  font-size: 18px;
  margin-top: -0.8rem;
}
.productSection a{
  text-decoration: none;
  border: solid 1px black;
  padding: 8px 20px 8px 20px;
  margin: none;
  text-align: center;
  color: black;
  background-color: gold;
  font-size: 22px;
}


/*produkt.html spesefike ting*/
.dualDisplay{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.overview{

}




@media (max-width: 1200px) {

}
@media (max-width: 900px) {

}
@media (max-width: 600px) {

}
