body{
  background-color: beige;
}
.Hamburger{
  display: flex;
  flex-direction: column;
  width: 16px;
}
.Brød{
  background-color: rgb(228, 184, 148);
  padding-top: 4px;
}
.Kjøtt{
  background-color: brown;
  padding-top: 4px;
}
.Salat{
  background-color: green;
  padding-top: 2px;
}
.Ost{
  background-color: yellow;
  padding-top: 2px;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
